.font {
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Sixtyfour", sans-serif;
}

.overlay-left {
  position: absolute;
  top: 5%;
  right: 5%;
  opacity: 0;
  transition: 0.3s ease;
  cursor: pointer;
}

.overlay-right {
  position: absolute;
  bottom: 30%;
  right: 5%;
  opacity: 0;
  transition: 0.3s ease;
  cursor: pointer;
  z-index: 1;
}
.reating {
  position: absolute;
  bottom: 25%;
  left: 5%;
  opacity: 1;
  transition: 0.3s ease;
}
.lol{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:  3%;
  left: 5%;
  opacity: 0;
  transition: 0.3s ease;
}
.movieImg {
  position: relative;
  width: 100%;
}
.movieImg:hover .overlay-left {
  opacity: 1;
}
.movieImg:hover .overlay-right {
  opacity: 1;
}

.movieImg:hover .lol {
  opacity: 1;
}
